@import "tailwindcss";

@theme {
    --color-primary: #64FFDA;
    --color-dark: #09090B;
    --color-text-muted: #A1A1AA;
    --color-text-dark: #1E1E1E;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090B;
}

.animate-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
}

